/* .animal-sound-bg {
  background-image: url("/src/assets/animalbg.avif");
}
.predict-bg {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */
